.about {
	padding-top: $default-spacing * 2;
	padding-bottom: $default-spacing;

	@include media($mobile) {
		padding-top: $default-spacing * 1.5;
		padding-bottom: $default-spacing/2;
	}
}

.about-content {
	padding: 0 60px;

	p {
		margin: 0 0 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include media($tablet) {
		padding: 0;
	}
}