header {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	margin-bottom: 50px;

	.container {
		padding: 6px 0;
	}
}

.navbar {
	overflow: hidden;
}

.navbar-header {
	float: left;
}

.navbar-header__avatar {
	display: inline-block;
	vertical-align: middle;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background: url("http://placehold.it/50x50")
}

.navbar-header__desc {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

.navbar-header {
	h3 {
		margin: 0 0 2px;
	}

	h4 {
		margin: 0;
		font-weight: normal;
	}
}

.navbar-menu {
	float: right;

	list-style: none;

	li {
		float: left;
		margin-left: 18px;

		a {
			text-decoration: none;
			color: $primary-color;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 300;

			&:hover {
				color: #097792;
			}
		}
	}
}














