header {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	//margin-bottom: 50px;

	.container {
		padding-top: 6px;
		padding-bottom: 6px;
	}
}

.navbar {
	overflow: hidden;
}

.navbar-header {
	float: left;

	@include media($mobile) {
		float: none;
		display: inline-block;
	}
}

.navbar-header__avatar {
	display: inline-block;
	vertical-align: middle;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background: url("../images/avatar.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar-header__desc {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

.navbar-header {
	h3 {
		margin: 0 0 2px;
		text-align: left;
	}

	h4 {
		margin: 0;
		font-weight: normal;
		text-align: left;
	}
}

.navbar-menu {
	float: right;
	list-style: none;
	margin-top: 14px;
	overflow: hidden;
	padding: 0;
	text-align: center;

	li {
		float: left;
		margin-left: 18px;

		a {
			text-decoration: none;
			color: $primary-color;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 300;

			&:hover {
				color: $teal;
			}
		}
	}

	@include media(min-width 701px) {
		display: block !important;
	}

	@include media($desktop) {
		display: block !important;
	}

	@include media($mobile) {
		display: none;
		float: none;
		padding-top: 10px;
		text-align: left;
		border-top: 1px solid rgba($primary-color, 0.2);

		li {
			float: none;
			display: inline-block;
			width: percentage(1/3);
			margin: 0;
		}
	}
}

.nav-burger {
	display: none;
	//float: right;
	position: absolute;
	height: 22px;
	width: 22px;
	text-align: center;
	top: 15px;
	right: 10px;

	@include media($mobile) {
		display: inline-block;
	}

	.nav-line {
		display: inline-block;
		height: 3px;
		width: 18px;
		background-color: $heading-color;
		position: absolute;
		top: 10px;
		left: 0;

		&.is-open {
			background-color: transparent;

			&:after {
				top: 0;
				@include transform(rotate(-45deg));
			}

			&:before {
				top: 0;
				@include transform(rotate(45deg));
			}
		}

		&:before, &:after {
			content: " ";
			height: 3px;
			width: 18px;
			display: block;
			background-color: $heading-color;
			position: absolute;
			left: 0;
			transition-property: top, transform;
			transition-duration: .2s;
		}

		&:after {
			top: 7px;
		}

		&:before {
			top: -7px;
		}
	}
}














