.skills {
	padding-top: $default-spacing;
	padding-bottom: $default-spacing;

	@include media($mobile) {
		padding-top: $default-spacing/2;
		padding-bottom: $default-spacing/2;
	}
}

.skillset {
	@include span-columns(4);
	margin: 0;
	padding-left: 100px;

	@include media($mobile) {
		@include span-columns(4);
		padding: 20px 0;
		text-align: center;
		margin: 0!important;
		list-style: none;
		border-bottom: 1px solid rgba($primary-color, 0.2);

		&:first-of-type {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}