<div class="about">
    <div class="container">
        <h2>about.</h2>
        <div class="about-content">
            <p>Hi-lo, this is Jamie, a Front End Developer!</p>
            <p>I was graduated from Swinburne University last year. I started my commercial career in March 2014 working on an in-house project in my University, and then keep building a range of skills by working with digital agencies.</p>
            <p>I love to build clean, well designed websites that are fast, responsive and accessible to anyone on any device. I am eager to learn, and excited by the newest of technologies available on the web. I am an easy going individual who enjoys working in teams, and I am very adaptable to all environments, or even thrive on a challenge.</p>
            <p>My objectives are to continue learning and building a wide range of skills within an organisation that works with, and I would also like to work in a socially conscious organisation.</p>
            <p>I also love travelling, swimming, hiking, movie, photography, and finding some simple computer games to play.</p>
        </div>
    </div>
</div>
