<div class="contact" id="contact">
	<div class="container">
		<h2>Get in touch with me.</h2>
		<form id="contact-form">
			<div class="form-group">
				<input type="text" placeholder="Name" name="name">
			</div>
			<div class="form-group">
				<input type="text" placeholder="Email" name="email">
			</div>
			<div class="form-group">
				<input type="text" placeholder="Subject" name="subject">
			</div>
			<div class="form-group">
				<textarea type="text" placeholder="Message" name="message"></textarea>
			</div>
			<a class="submit-btn"><span>send message</span></a>
		</form>
		<div class="succeed">
			Thank you for contacting me! <br>I'll get back to you soon. 
		</div>
		<div class="fail">
			The message was not sent, please try again later. 
		</div>
	</div>
</div>