<header>
	<div class="container">
		<nav class="navbar" role="navigation">
			<div class="navbar-header">
				<a href="#" class="navbar-header__avatar"></a>
				<div class="navbar-header__desc">
					<h3>Jamie Duan</h3>
					<h4>Front End Developer</h4>
				</div>
			</div>
			<ul class="navbar-menu">
				<li><a href="#home">home</a></li>
				<li><a href="#about">about</a></li>
				<li><a href="#projects">projects</a></li>
				<li><a href="#skills">skills</a></li>
				<li><a href="#travel">travel</a></li>
				<li><a href="#contact">contact</a></li>
			</ul>
		</nav>
	</div>
</header>