<div class="projects" id="projects">
	<div class="container">
		<h2>Projects.</h2>
		<ul class="projects-list">
			<li class="project">
				<h3>HBF</h3>
				<div class="project-screenshot">
					<img src="./assets/images/HBF_screenshot.png">
				</div>
				<ul class="project-features">
					<li>Large project with 9 people working in the same team</li>
					<li>Powered by Sitecore</li>
					<li>Build with Angular.js</li>
					<li>Adaptive website</li>
					<li>Sass/JS compiled with Gulp</li>
				</ul>
			</li>
			<li class="project">
				<h3>HBFFitness</h3>
				<div class="project-screenshot">
					<img src="./assets/images/HBFFitness_screenshot.png">
				</div>
				<ul class="project-features">
					<li>100% Responsive</li>
					<li>HTML5/Sass/JS</li>
					<li>Powered by Wordpress</li>
					<li>Ongoing maintenance and update</li>
				</ul>
			</li>
			<li class="project">
				<h3>Nike eDMs</h3>
				<div class="project-screenshot edms-screenshot">
					<img src="./assets/images/eDMs_screenshot1.png">
					<img src="./assets/images/eDMs_screenshot2.png">
				</div>
				<ul class="project-features">
					<li>100% Responsive</li>
					<li>Build with Ink framework</li>
					<li>MailChimp and CampaignMonitor services</li>
					<li>Fully testing with Litmus</li>
				</ul>
			</li>
		</ul>
	</div>
</div>