<div class="projects">
	<div class="container">
		<h2>projects.</h2>
		<ul clas="projects-list">
			<li class="project">
				<h3>HBF</h3>
				<img src="http://placehold.it/768x378">
				<ul class="project-features">
					<li>Large project with 9 people working on it</li>
					<li>Powered by sitecore</li>
					<li>Build with Angular.js</li>
					<li>Adaptive website</li>
					<li>Sass/JS compiled with Gulp</li>
				</ul>
			</li>
			<li class="project">
				<h3>HBFFitness</h3>
				<img src="http://placehold.it/768x378">
				<ul class="project-features">
					<li>100% Responsive</li>
					<li>HTML5/Sass/JS</li>
					<li>Powered by Wordpress</li>
					<li>Ongoing maintenance and update</li>
				</ul>
			</li>
			<li class="project">
				<h3>Nike eDMs</h3>
				<img src="http://placehold.it/768x378">
				<ul class="project-features">
					<li>100% Responsive</li>
					<li>build with Ink framework</li>
					<li>Build with Angular.js</li>
					<li>MailChimp and CampaignMonitor services</li>
					<li>Fully testing with Litmus</li>
				</ul>
			</li>
		</ul>
	</div>
</div>