<div class="travel" id="travel">
	<div class="container">
		<h2>Travel.</h2>
		<p class="travel-desc">Travel can be a powerful tool for personal development. Without travel, you can't really know the place you're from.</p>
		<div class="slide-show">
			<div class="slide-window">
				<a href="#" class="previous"></a>
				<a href="#" class="next"></a>
				<ul class="slide-list">
					<li class="slide current"><img src="http://placehold.it/800x400/12adbc"></li>
					<li class="slide"><img src="http://placehold.it/800x400/00ace3"></li>
					<li class="slide"><img src="http://placehold.it/800x400/1b4dbf"></li>
					<li class="slide"><img src="http://placehold.it/800x400/3b3b3b"></li>
				</ul>
			</div>
			<div class="paginations">
			</div>
		</div>
	</div>
</div>