<div class="travel" id="travel">
	<div class="container">
		<h2>Travel.</h2>
		<p class="travel-desc">Travel can be a powerful tool for personal development. Without travel, you can't really know the place you're from.</p>
		<div class="slide-show">
			<div class="slide-window">
				<a href="#" class="previous"></a>
				<a href="#" class="next"></a>
				<ul class="slide-list">
					<li class="slide">
						<img src="./assets/images/terrace.jpg">
						<span class="slide-name">Rice Terrace</span>
						<span class="slide-place">@Ubud, Bali</span>
					</li>
					<li class="slide">
						<img src="./assets/images/nz.jpg">
						<span class="slide-name">Mt Cook</span>
						<span class="slide-place">@New Zealand</span>
					</li>
					<li class="slide">
						<img src="./assets/images/agung.jpg">
						<span class="slide-name">Mt Agung</span>
						<span class="slide-place">@Bali</span>
					</li>
					<li class="slide">
						<img src="./assets/images/fiji.jpg">
						<span class="slide-name">Blue Lagoon</span>
						<span class="slide-place">@Fiji</span>
					</li>
					<li class="slide">
						<img src="./assets/images/maple.jpg">
						<span class="slide-name">Bright</span>
						<span class="slide-place">@Victory</span>
					</li>
					<li class="slide">
						<img src="./assets/images/king_lake.jpg">
						<span class="slide-name">Königssee</span>
						<span class="slide-place">@Germany</span>
					</li>
				</ul>
			</div>
			<div class="paginations">
			</div>
		</div>
	</div>
</div>